/* 60% #d8e2dc platinumwhite
30% #40476d delft blue
10% #131200  black*/

/* ==============================================================
    This header css for Laptop and big screen 
   ================================================================*/
@media (min-width: 768px){
    .App-header{
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    .header{
        position: relative;
        bottom: 1.3rem;
        height: 5rem;
        background-color: #40476d;
    }
    .logo{
        /* padding: 25px 50px 75px 100px; top right bottom left */
        padding: 20px 50px 10px; 
    }
    .logo a{
        color: #d8e2dc;
        text-decoration: none;
    }
    .navbar .toggle{
        /* Hide the toggle button in mobile screen without occupying space */
        display: none; 
    }
    .menu-nav {
        background-color: none;
        position: absolute;
        width: 10px;
        bottom: 35px;
        left: 20px;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        padding: 0px 550px;
    }
    /* .menu-nav ul{
        margin: 0px;
        padding: 0px;
        overflow: hidden;
    }
    .menu-nav li{
        height: 35px;
        width: 90px;
        border-radius: 7px;
        padding: 0px 30px 12px 15px;
        margin: 0px 10px 15px 0px;
        background-color: #d8e2dc;
    }
    .menu-nav li:hover{
        color: #d8e2dc;
    }*/
    .menu-nav li a{
        display: block;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        padding: 10px 30px 12px 15px;
        margin: 0px 10px 15px 0px;
        color: #d8e2dc;
    }
    .menu-nav li a:hover{
        border-radius: 2px;
        padding: 10px 30px 12px 15px;
        background-color: #d8e2dc;
        color: #40476d;
        transition: ease-in 0.5s;
    }
    .navbar{
        position: relative;
    }

    /* This toggle for user icon on right side */
    .navbar .toggle1 {
        position: relative;
        bottom: 70px;
        left: 1300px;
        width: 32px;
        height: 32px;
        color: #d8e2dc;
        background: transparent;
        cursor: pointer;
        border: none; 
    }
    .toggle1:hover{
        color: #40476d;
        background-color: #d8e2dc;
        border: none;
        transition: ease-in 0.5s;
    }
    .menu-nav1 {
        padding-left: 0px;
        list-style: none;
        position: absolute;
        background: #40476d;
        left: 1085px;
        width: 0px;
        overflow: hidden;
        top: -32px;
        max-width: 350px;
        height: 800px;
        /* z-index: 9; */
        font-size: 18px;
        box-shadow: 0 10px 15px -3px rgb(46 41 51 / 8%), 0 4px 6px -2px rgb(71 63 79 / 16%);
        transform: translateX(100px);
        transition: transform ease-in-out 0.2s;
        /* transition: width ease 0.2s; */
    }
    .menu-nav1.show-menu1 {
        width: 100%;
        transform: translateX(0px);
        border-radius: 7px;
        border: 2px solid #131200;
    }
    .cart{
        position: relative;
        background-color: transparent;
        border: none;
        color: #d8e2dc;
        bottom: 70px;
        left: 1170px;
    }
    .cart:hover{
        color: #40476d;
        background-color: #d8e2dc;
        border: none;
        transition: ease-in 0.5s;
        
    }
    .favourite{
        position: relative;
        background-color: transparent;
        border: none;
        color: #d8e2dc;
        bottom: 70px;
        left: 1180px;
    }
    .favourite:hover{
        color: #40476d;
        background-color: #d8e2dc;
        transition: ease-in 0.5s;
        border: none;
    }


    
}


/* This header css for mobile screen */
@media (max-width: 767px){
    .App-header{
        width: 100%;
        height: 100%;
        cursor: pointer;
        background: none;
    }
    .header{
        position: relative;
        bottom: 1.3rem;
        height: 4rem;
        background-color: #40476d;
    }
    .logo{
        padding: 10px 20px;
    }
    .logo a{
        color: #d8e2dc;
        text-decoration: none;
    }

    /* =============================
    Sidebar navigation 
    =================================*/
    .navbar{
        position: relative;
    }
    .navbar .toggle {
        position: relative;
        left: 320px;
        bottom: 70px;
        padding: 10px 20px;
        width: 50px;
        height: 50px;
        color: #d8e2dc;
        cursor: pointer;
        background: transparent;;
        border: none;
    }
    .menu-nav {
        padding-left: 0px;
        list-style: none;
        position: absolute;
        background: #40476d;
        left: 41px;
        width: 0px;
        overflow: hidden;
        top: -32px;
        max-width: 370px;
        height: 700px;
        z-index: 9;
        font-size: 18px;
        box-shadow: 0 10px 15px -3px rgb(46 41 51 / 8%), 0 4px 6px -2px rgb(71 63 79 / 16%);
        transform: translateX(100px);
        transition: transform ease-in-out 0.2s;
        /* transition: width ease 0.2s; */
    }
    .menu-nav.show-menu {
        width: 100%;
        transform: translateX(0px);
    }
    /* Hides the user icon and lists from the mobile screen */
    .toggle1{ 
        display: none;
    }
    .menu-nav1{
        display: none;
    }
    .cart{
        position: relative;
        background-color: transparent;
        border: none;
        color: #d8e2dc;
        bottom: 70px;
        left: 180px;
    }
    .favourite{
        position: relative;
        background-color: transparent;
        border: none;
        color: #d8e2dc;
        bottom: 70px;
        left: 180px;
    }
}