/* 60% #d8e2dc platinumwhite
30% #40476d delft blue
10% 131200  black*/



/* This code will block the zoom in from mobile */
:root {
  touch-action: pan-x pan-y;
  height: 100%;
}
html, body{
  width: 100%;
  height: 100%;
}


/* Resolution for laptop and larger screen */
@media (min-width: 768px) {
  .App-header{
    background-color: none;
  }
}


/* Resolution for Smaller screen Ipad, Iphone, Tab, and Android devices */
@media (max-width: 767px){
  .App-header{
    background-color: none;
  }
}